img {
  width: 400px;
  height: 500px;
}

.public {
  height: 100vh;
  @extend %flex-parent;
  background-color: $second-background;
}

.icon-page {
  width: 150px;
  height: 150px;
}

.image-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 15%;
}

form {
  z-index: 100;
  @extend %flex-parent;
}

input {
  background: transparent;
}
