img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

main {
  min-height: 0px;
  min-width: 0px;
  @extend %flex-parent;
  flex-direction: row;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  width: 13%;
  position: fixed;
  box-shadow: 3px 0px 20px 0;
  left: 0;
  z-index: 100;
  height: 100%;
  background-color: white;
  align-items: flex-start;
  justify-content: center;
  @include small-down {
    width: 30%;
  }

  @include extra-small-down {
    width: 40%;
  }
}

.content {
  width: 87%;
  left: 6.5%;
  position: relative;
  height: 100%;
  @include small-down {
    width: 100%;
    position: static;
  }
}

.public {
  height: 100vh;
  @extend %flex-parent;
  background-color: $second-background;
  width: 100%;
}

.icon-page {
  width: 150px;
  height: 150px;
}

.image-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 15%;
}

form {
  z-index: 100;
  @extend %flex-parent;
  & > * {
    margin: 5px;
  }
}

input {
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  color: black;
}

textarea {
  @extend input;
  resize: none;
}

.btn {
  padding: 13px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: $primary-btn;
  color: white;
  transition: all 0.2s;
  &:hover {
    scale: 1.1;
    background-color: white;
    color: $primary-btn;
  }
  &:active {
    transform: scale(0.9);
    background-color: $primary-btn;
    color: white;
  }
}

.link {
  color: white;
  transition: all 0.4s;
  &:hover {
    color: blue;
  }
  &:active {
    color: red;
  }
}

h1 {
  color: black;
  font-size: x-large;
  margin-bottom: 20px;
}

.private {
  @extend %flex-parent;
}

.delete-books {
  @extend %flex-parent;
  justify-content: flex-start;
}

.public-title {
  color: white;
}

.carousel {
  display: block;
  height: 100%;
}

.logo {
  width: 7vw;
  height: 7vw;
  margin: -90px 0px 75px 20%;
   @include small-down {
    width: 100px;
    height: 12%;
    margin-left: 30%;
   }

   @include extra-small-down {
    height: 10%;
   }
}

.title-margin {
  margin-top: 100px;
}

.books-to-delete {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;

  @include medium-down {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  @include extra-small-down {
    display: block;
  }
  & > li {
    margin: 10px;
    @extend %flex-parent;
  }
}
