* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  color: $primary-font;
  & > * {
    color: $primary-font;
  }
  box-sizing: border-box;
  border-radius: 0;
  background-color: transparent;
  font-family: 'Main', sans-serif;
  font-size: small;
  font-weight: 100;
  outline: 1px solid red;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  width: 100%;
}
